{% extends 'base.html' %}

{% block title %}Diabetes Prediction{% endblock %}

{% block content %}

<div class="w-full max-w-4xl mx-auto mt-20 p-8 bg-white shadow-lg rounded-lg">
    <div class="row bg-blue-50 p-6 rounded-lg mb-12">
        <div class="col-12 text-center">
            <h2 class="text-3xl text-blue-500 font-bold">Predict your risk of diabetes</h2>
        </div>
    </div>
    
    
    <form method="post" style="margin-top: inherit;">
        {% csrf_token %}
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <div>
                <label class="block text-gray-700 mb-2 font-semibold">Gender</label>
                <select name="gender" class="form-select w-full max-w-sm border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>

            <div>
                <label class="block text-gray-700 mb-2 font-semibold">Age</label>
                <input type="number" name="age" min="0" class="form-control w-full max-w-sm border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500" required>
            </div>

            <div>
                <label class="block text-gray-700 mb-2 font-semibold">Hypertension</label>
                <select name="hypertension" class="form-select w-full max-w-sm border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
            </div>

            <div>
                <label class="block text-gray-700 mb-2 font-semibold">Heart Disease</label>
                <select name="heart_disease" class="form-select w-full max-w-sm border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
            </div>

            <div>
                <label class="block text-gray-700 mb-2 font-semibold">Smoking History</label>
                <select name="smoking_history" class="form-select w-full max-w-sm border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
                    <option value="never">Never</option>
                    <option value="ever">Ever</option>
                </select>
            </div>

            <div>
                <label class="block text-gray-700 mb-2 font-semibold">BMI</label>
                <input type="number" name="bmi" step="0.1" min="10" max="95.7" class="form-control w-full max-w-sm border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500" required>
            </div>

            <div>
                <label class="block text-gray-700 mb-2 font-semibold">HbA1c Level</label>
                <input type="number" name="HbA1c_level" step="0.1" min="3.5" max="9" class="form-control w-full max-w-sm border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500" required>
            </div>

            <div>
                <label class="block text-gray-700 mb-2 font-semibold">Blood Glucose Level</label>
                <input type="number" name="blood_glucose_level" min="80" max="300" class="form-control w-full max-w-sm border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500" required>
            </div>
        </div>
        <div class="text-center mt-10">
            <button type="submit" class="w-96 px-6 py-2 ml-4 bg-blue-500 text-white rounded-full font-semibold hover:bg-blue-600 transition">
                Predict
            </button>
        </div>        
        
    </form>

    {% if result %}
        <div class="mt-6 p-4 rounded {% if result == 'You are free from diabetes' %}bg-green-100 text-green-800{% else %}bg-red-100 text-red-800{% endif %}">
            <strong>{{ result }}</strong>
        </div>
    {% endif %}
</div>
{% endblock %}
